<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
        <a href="/projects/overview/<%= projectid %>" class="list-group-item list-group-item-action bg-light">Overview</a>
        <a href="/projects/activity/<%= projectid %>" class="list-group-item list-group-item-action bg-light">Activity</a>
        <a href="/projects/members/<%= projectid %>" class="list-group-item list-group-item-action bg-light">Members</a>
        <a href="/projects/issues/<%= projectid %>" class="list-group-item list-group-item-action bg-light">Issues</a>
    </div>
</div>