<% include ../../partials/header %>
<% include ../../partials/menu %>

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <% include ../../partials/sidebar %>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h1 class="mt-4">Activity</h1>
            <hr />
            <h3>Login Session</h3>
            <div class="card bg-light mb-3" style="max-width: 40rem;">
                <div class="card-header"><strong><%=  %></strong></div>
                <div class="card-body">
                    <p class="card-text">
                        <span class="badge badge-primary">20:46:12</span><br />
                        [Feature] Login #1 (Resolved) - Done (%): 50 --> 60. Spent time (hours): --> 1<br />
                        Author: Krina Wibisana
                    </p>
                    <p class="card-text">
                        <span class="badge badge-primary">20:46:12</span><br />
                        [Feature] Login #1 (Resolved) - Done (%): 50 --> 60. Spent time (hours): --> 1<br />
                        Author: Krina Wibisana
                    </p>
                    <p class="card-text">
                        <span class="badge badge-primary">20:46:12</span><br />
                        [Feature] Login #1 (Resolved) - Done (%): 50 --> 60. Spent time (hours): --> 1<br />
                        Author: Krina Wibisana
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>

<% include ../../partials/footer %>