<% include ../../partials/header %>
<% include ../../partials/menu %>

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <% include ../../partials/sidebar %>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h1 class="mt-4">Overview</h1>
            <hr />
            <h3>Login Session</h3>
            <div class="card bg-light mb-3" style="max-width: 30rem;">
                <div class="card-header"><strong>Issue Tracking</strong></div>
                <div class="card-body">
                    <p class="card-text align-left">
                        <ul>
                            <li>bug <span class="badge badge-primary">2 Open / 0 Total</span></li>
                            <li>bug <span class="badge badge-primary">1 Open / 2 Total</span></li>
                            <li>bug <span class="badge badge-primary">3 Open / 1 Total</span></li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="card bg-light mb-3" style="max-width: 30rem;">
                <div class="card-header"><strong>Members</strong></div>
                <div class="card-body">
                    <p class="card-text align-left">
                        <ul>
                            <li>Krina</li>
                            <li>Wibi</li>
                            <li>Riyan</li>
                            <li>Rizky</li>
                            <li>Unaisah</li>
                            
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- /#page-content-wrapper -->
</div>

<% include ../../partials/footer %>