<% include ../partials/header %>
<% include ../partials/menu %>

<div class="container-fluid" style="margin-top: 20px">
    <h1>Add Projects</h1>
    <hr />
    <form action="/" method="post">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Project Name</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="projectname" placeholder="Project Name" name="projectname">
            </div>
        </div>
        <div class="form-group row">
            <label for="member" class="col-sm-2 col-form-label">Members</label>
            <div class="col-sm-3">
                <% for (let i = 0; i < fullname.length; i++) { %>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="member" id="gridcheck<%= i %>" value="<%= dataMembers[i] %>>">
                    <label class="form-check-label" for="gridcheck<%= i %>">
                        <%= fullname[i] %>
                    </label>
                </div>
                <% } %>
            </div>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> save</button>
        <a href="/projects"><button type="button" class="btn btn-outline-warning"><i class="fas fa-redo-alt"></i>
                Cancel</button></a>
    </form>
</div>

<% include ../partials/footer %>